h2 {
   color: rgb(116, 1, 1); 
   /* text-align: center; */

}

h4 {
    color: lightcoral; 
    /* text-align: center; */
    
 }

a {
    color: lightcoral; 
    /* text-align: center; */
    
 }

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: crimson; 
    text-align: center;
    
 }

h1 {
    color: rgb(250, 160, 87); 
    text-align:left;
    font-size: xxx-large;
 }

 #game {
    display: inline-block
}

#name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 105, 105);
    text-align: left;
}

#title {
    text-align: left;
}

#mygame {
    float: left;
}

#Griffpatch {
    float: right;
}

#BottomRandos {
    clear: both;
    text-align: left;
}

img {
    border-radius: 10px
}